.idea
.env
.venv
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/
sbase
sbase*
seleniumbase_env
seleniumbase_venv
sbase_env
sbase_venv
pyvenv.cfg
.Python
include
pip-delete-this-directory.txt
pip-selfcheck.json
ipython.1.gz
nosetests.1
